# Poetry directories and files we don't want to send to repo

# Jupyter
.ipynb_checkpoints
notebooks/

# mypy
.mypy_cache

# setup
*__pycache__

# user-defined
classwork/usr/classes.py
classwork/usr/user_defaults.json